certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.0
idna==2.8
python-dateutil==2.8.0
python-decouple==3.1
requests==2.21.0
six==1.15.0
TogglPy==0.1.1
traitlets==4.3.2
typed-ast==1.4.1
urllib3==1.26.5
black==20.8b1
